@using Web.ViewModels.OurTeam
@model OurTeamViewModel

@{
    ViewData["Title"] = "Our Team";
    ViewData["ActiveSidebar"] = "liOurTeam";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                    <a href="/CreateOurTeam" class="btn btn-bloks btn-success">Add</a>
                    </div>
                </div>

            </div>

        <div class="card">
            <div class="card-body">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>position</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.OurTeams)
                    {
                        <tbody>
                            <tr>
                                <td>
                                    <img src="@item.Image" class="img-circle img-size-50 mr-5">
                                </td>
                                <td>@item.Name</td>
                                <td>@item.position</td>
                                <td>
                                    <a class="btn btn-success btn-sm" asp-controller="OurTeam" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class='fas fa-edit'></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm" asp-controller="OurTeam" asp-action="Delete" asp-route-id="@item.Id">
                                        <i class=" fas fa-trash fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>