@using WebSiteMachines.Interfaces
@inject IContactInfoService _Info
@inject ICategoryService _category
@{
	var contactInfo = await _Info.GetContactInfo();
	List<Category> categories = await _category.GetAllCategories(new WebSiteMachines.FiltersModel.CategoryFilter());
}

<footer class="footer has-black-color-overlay has-dark-texture">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="footer-widget about-widget">
                    <img src="~/images/logo/logo2.png" />
					<p>Industries multidisciplinary team of engineering experts can successfully carry out projects of any size and complexity.  Our team offers the most up-to-date, sustainable and trusted suppliers of quality control. </p>
					@* <ul class="list-inline social">
						<li>
							<a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<!-- comment for inline hack
						-->
						<li>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</li>
						<!-- comment for inline hack
						-->
						<li>
							<a href="#"><i class="fa fa-skype"></i></a>
						</li>
						<!-- comment for inline hack
						-->
						<li>
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul> *@
				</div>
			</div>

			<div class="col-md-4">
				<div class="footer-widget link-widget">
					<div class="inner-title">
						<h3><span class="white-color-text">Our Products</span></h3>
						<span class="decor-line"></span>
					</div>
					@foreach (var item in categories)
					{
						<ul class="links">
							<li>
								<a asp-controller="Category" asp-action="DropdownSolutionİtems" asp-route-id="@item.Id">
									@item.Name
								</a>
							</li>
						</ul>
					}
				</div>
			</div>

			<div class="col-md-4">
				<div class="footer-widget contact-widget">
					<div class="inner-title">
						<h3>Contact Details</h3>
						<span class="decor-line"></span>
					</div><!-- /.sec-title-two -->
					<div class="footer-contact-info-carousel">
						<div class="item">
							<ul class="contact-infos">
								
								<li>
									<div class="icon-box">
										<i class="icon-geography"></i>
									</div>
									<div class="text-box">
										<p>@contactInfo.Address</p>
									</div>
								</li>
								<li>
									<div class="icon-box">
										<i class="icon-technology-1"></i>
									</div>
									<div class="text-box">
										<p>@contactInfo.Phone1 <br>@contactInfo.Phone2</p>
										<p>@contactInfo.MailUs</p>
									</div>
								</li>
								@* <li>
									<div class="icon-box">
										<i class="icon-telephone-with-fax"></i>
									</div>
									<div class="text-box">
										
									</div>
								</li> *@
								<li>
									<div class="icon-box">
										<i class="icon-circular-wall-clock-for-livingroom"></i>
									</div>
									<div class="text-box">
										<p>Mon-Fri, 9am until 6pm</p>
									</div>
								</li>
							</ul>
						</div>

					</div>

				</div>
			</div>

		</div>
	</div>
</footer>
<section class="footer-bottom">
	<div class="container">
		<div class="pull-left get-text">
			<ul>
				<li><a href="#">Terms & Conditions</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
		</div>
		<div class="pull-right copy-text">
			<p>Copyright 2016 <a href="#">ThemeKalia, All Right Reserved</a></p>
		</div>
	</div>
</section>